<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avatars 예제</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="font-suit m-5 flex flex-col gap-5">

  <div class="flex flex-row gap-8">
    <figure class="relative w-20 h-20">
      <img class="rounded-full" src="/assets/faces/face1.jpg" alt="" />
      <figcaption class="shadow-[0_0_0_2px_rgba(255,255,255)] rounded-full w-6 h-6 absolute right-0 bottom-0 bg-primary "><span class="sr-only">온라인</span></figcaption>
    </figure>
    <figure class="relative w-20 h-20">
      <img class="rounded-full" src="/assets/faces/face1.jpg" alt="" />
      <figcaption class="border-8 border-gray-40 shadow-[0_0_0_2px_rgba(255,255,255)] rounded-full w-6 h-6 absolute right-0 bottom-0 bg-gray-10"><span class="sr-only">오프라인</span></figcaption>
    </figure>
  </div>

  <hr />

  <div class="hidden">
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face1.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face2.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face3.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face4.jpg" alt=""
      /></a>
    </figure>
    <figure class="">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face5.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face6.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face7.jpg" alt=""
      /></a>
    </figure>
    <figure class=" ">
      <a href="/" class=""
        ><img class="" src="/assets/faces/face8.jpg" alt=""
      /></a>
    </figure>
  </div>
</body>
</html>