<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="font-suit">
  <img src="./../assets/faces/jiwon.jpeg" alt="" class="shape-outside-circle float-left w-1/5 aspect-1 object-cover object-top rounded-full p-6" />
  <p>한 여름 날, 햇살이 뜨거운 대지 위에 서 있었다. 구름 없는 하늘은 푸르게 펼쳐져 있었고, 바람은 산들에게 부는 시원한 숨결이었다. 나뭇잎은 푸른 그늘을 만들어내고, 꽃들은 화사한 색으로 그 향기를 퍼뜨리고 있었다. 새들은 하늘을 날아다니며 자유를 느끼고, 강물은 산악 지형을 따라 흐르며 시원함을 전했다.나는 이 자연의 아름다움을 느끼며 마음 속에 평화를 느꼈다. 시간의 흐름은 멈추어 있었고, 순간의 아름다움에 마음이 채워졌다. 이곳은 고요와 조화가 공존하는 곳이었다. 나는 소중한 순간을 간직하며, 자연과 하나가 되었다. 이 순간을 영원히 기억하며, 이 아름다움을 나누고 싶었다.</p>
  <p>한 여름 날, 햇살이 뜨거운 대지 위에 서 있었다. 구름 없는 하늘은 푸르게 펼쳐져 있었고, 바람은 산들에게 부는 시원한 숨결이었다. 나뭇잎은 푸른 그늘을 만들어내고, 꽃들은 화사한 색으로 그 향기를 퍼뜨리고 있었다. 새들은 하늘을 날아다니며 자유를 느끼고, 강물은 산악 지형을 따라 흐르며 시원함을 전했다.나는 이 자연의 아름다움을 느끼며 마음 속에 평화를 느꼈다. 시간의 흐름은 멈추어 있었고, 순간의 아름다움에 마음이 채워졌다. 이곳은 고요와 조화가 공존하는 곳이었다. 나는 소중한 순간을 간직하며, 자연과 하나가 되었다. 이 순간을 영원히 기억하며, 이 아름다움을 나누고 싶었다.</p>
  <p>한 여름 날, 햇살이 뜨거운 대지 위에 서 있었다. 구름 없는 하늘은 푸르게 펼쳐져 있었고, 바람은 산들에게 부는 시원한 숨결이었다. 나뭇잎은 푸른 그늘을 만들어내고, 꽃들은 화사한 색으로 그 향기를 퍼뜨리고 있었다. 새들은 하늘을 날아다니며 자유를 느끼고, 강물은 산악 지형을 따라 흐르며 시원함을 전했다.나는 이 자연의 아름다움을 느끼며 마음 속에 평화를 느꼈다. 시간의 흐름은 멈추어 있었고, 순간의 아름다움에 마음이 채워졌다. 이곳은 고요와 조화가 공존하는 곳이었다. 나는 소중한 순간을 간직하며, 자연과 하나가 되었다. 이 순간을 영원히 기억하며, 이 아름다움을 나누고 싶었다.</p>
  <p>한 여름 날, 햇살이 뜨거운 대지 위에 서 있었다. 구름 없는 하늘은 푸르게 펼쳐져 있었고, 바람은 산들에게 부는 시원한 숨결이었다. 나뭇잎은 푸른 그늘을 만들어내고, 꽃들은 화사한 색으로 그 향기를 퍼뜨리고 있었다. 새들은 하늘을 날아다니며 자유를 느끼고, 강물은 산악 지형을 따라 흐르며 시원함을 전했다.나는 이 자연의 아름다움을 느끼며 마음 속에 평화를 느꼈다. 시간의 흐름은 멈추어 있었고, 순간의 아름다움에 마음이 채워졌다. 이곳은 고요와 조화가 공존하는 곳이었다. 나는 소중한 순간을 간직하며, 자연과 하나가 되었다. 이 순간을 영원히 기억하며, 이 아름다움을 나누고 싶었다.</p>
  <p>한 여름 날, 햇살이 뜨거운 대지 위에 서 있었다. 구름 없는 하늘은 푸르게 펼쳐져 있었고, 바람은 산들에게 부는 시원한 숨결이었다. 나뭇잎은 푸른 그늘을 만들어내고, 꽃들은 화사한 색으로 그 향기를 퍼뜨리고 있었다. 새들은 하늘을 날아다니며 자유를 느끼고, 강물은 산악 지형을 따라 흐르며 시원함을 전했다.나는 이 자연의 아름다움을 느끼며 마음 속에 평화를 느꼈다. 시간의 흐름은 멈추어 있었고, 순간의 아름다움에 마음이 채워졌다. 이곳은 고요와 조화가 공존하는 곳이었다. 나는 소중한 순간을 간직하며, 자연과 하나가 되었다. 이 순간을 영원히 기억하며, 이 아름다움을 나누고 싶었다.</p>

</body>
</html>