<!doctype html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="px-5">

    <!-- 가장 먼저 대제목. 이 안에 로고이미지 -->
    <h1 class="w-[230px] mx-auto mt-[70px] lg:mt-[100px]" >
      <a href="/" class="logo-link">
        <picture>
          <source srcset="./../assets/images/naver.svg" type="image/svg" />
          <img class="w-full" src="./../assets/images/naver.png" alt="네이버" />
        </picture>
      </a>
    </h1>

    <form action="/" class="mt-11 lg:mt-12 space-y-3">
      <!-- id 입력 서식 -->
      <div class="">
        <label for="userEmail" class="sr-only">아이디</label>
        <input class="px-3 border border-solid border-silverDark w-full h-11 bg-white focus:border-naverGreen focus:bg-gray" type="text" id="userEmail" name="userEmail" required placeholder="아이디"/>
      </div>
      <!-- 패스워드 입력 서식 -->
      <div class="">
        <label for="userPw" class="sr-only">비밀번호</label>
        <input class="px-3 border border-solid border-silverDark w-full h-11 bg-white focus:border-naverGreen focus:bg-gray" type="text" id="userPw" name="userPw" required placeholder="비밀번호"/>
      </div>

      <!-- 체크박스 컴포넌트 -->
      <div class="relative">
        <input type="checkbox" id="saveLogin" name="saveLogin" class="absolute peer checkbox w-6 h-6 appearance-none" checked />
        <label for="saveLogin" class="peer-checked:bg-[url('/assets/icons/checked.svg')] pl-7 bg-no-repeat inline-block h-6 bg-[url('/assets/icons/unchecked.svg')]">로그인 상태 유지</label>
      </div>

      <!-- IP 컴포넌트 -->
      <div class="relative">
        <label for="ipSecurity" class="ipPeer-checked:after:content-['ON'] after:content-['OFF'] bg-yellow-200 inline-block h-6">IP 보안</label>
        <input type="checkbox" id="ipSecurity" name="ipSecurity" class="ipPeer absolute checkbox w-6 h-6" checked />
      </div>

      

    </form>

  </div>
</body>
</html>